body {
    background: linear-gradient(20deg,#3F6FE8,#2A4A9C);
    background-size: 400%,200%;
}
div.up {
    background-color:#ffff;
    border: 5px solid black;
    height: 100px;
    width: 99%;
}

.div-perfil {
    margin-top: 0px;
    text-align: left;
}

img.pmg {
    width: 70px;
    height: 55px;
    margin-top: 2px;
    margin-left: 3px;
}

.txt-p {
    margin-top: 8px;
    margin-left: 10px;
}

.div-UBS {
    text-align: center;
    margin-top: -118px;
}

img.hmg {
    width: 80px;
    height: 65px;
}

.txt-h {
    margin-top: 2px;
}

.div-loca {
    text-align: right;
    margin-right: 275px;
    margin-top: -110px;
    font-size: 22px;
}

img.lmg {
    width: 80px;
    height: 65px;
}

.txt-l {
    margin-top: -3px;
    margin-right: -15px;
    font-size: 22px;
}

.div-op {
    text-align: right;
    margin-top: -48px;
    font-size: 22px;
    margin-top: -115px;
}

img.omg {
    width: 80px;
    height: 50px;
    
}

.txt-o {
    margin-top: 0px;
    margin-right: 5px;
    font-size: 26px;
}

